In [ ]:
# default_exp processing
# all_data

In [ ]:
# hide
%load_ext autoreload
%autoreload 2

# Processing

> This notebook contains the processing pipeline.

# Imports

In [ ]:
from socembed import *

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
import pandas as pd
import altair as alt

# Variables

In [ ]:
LEX = 'Anglo-Saxon'
CORPUS_DIR = '/Volumes/qjd/promo/SocEmb/data/psaw/'

# Read data

In [ ]:
fpaths = get_fpaths('Anglo-Saxon', source='local')

In [ ]:
df = read_comments(fpaths)

In [ ]:
df = parse_dates(df)

In [ ]:
df

,body,created_utc,id,subreddit
117981,What's interesting is that in other statistics...,2006-02-04 19:10:02,c19aw,reddit.com
117980,It's a pity that The Economist doesn't just le...,2006-03-31 20:19:59,c3rb4,reddit.com
117979,"ROFL - pica, what prompted this little diatrib...",2006-04-05 19:35:05,c3ywe,reddit.com
117978,"Agreed, and it points up the absurdity of the ...",2006-05-23 18:43:32,c6gks,reddit.com
117977,What if your groups don't make any sense? Thi...,2006-05-23 23:26:17,c6h6i,reddit.com
...,...,...,...,...
117986,"oh for sure, I just meant to say that anyone w...",2020-10-06 19:59:46,g7xj5pq,politics
117985,didn't howard write the shadow over innsmouth ...,2020-10-06 20:06:46,g7xk783,IcebergCharts
117984,"Again, you're putting words in my mouth, and I...",2020-10-06 20:09:14,g7xkkch,victoria2
117983,"Oh man, English is so bloody weird. Like, yes ...",2020-10-06 20:10:18,g7xkptp,TheOwlHouse
117982,The religion of Brittany could be a cult to ki...,2020-10-06 20:23:54,g7xmm1j,NewEraOldWorld

# Clean data

## Remove bot subreddits

In [ ]:
df = rm_bots_subreddits(df)

bot comments (abs): 0
bot comments (rel): 0.0

## Remove duplicate comments

In [ ]:
df = rm_dupl_comments(df)

duplicates removed: 16812

## Remove comments without target tokens

In [ ]:
df = rm_comm_no_toks(df, LEX)

                0       1
0  total comments  122113
1      w/o tokens    1635

# Usage frequency

## Aggregate usage frequency in monthly bins

In [ ]:
df_m = get_monthly_freq(df)
df_m

         month  comm_n
1   2006-03-31       1
2   2006-04-30       1
3   2006-05-31       2
4   2006-06-30       0
5   2006-07-31       1
..         ...     ...
171 2020-05-31    2647
172 2020-06-30    2733
173 2020-07-31    2452
174 2020-08-31    2266
175 2020-09-30    2280

[175 rows x 2 columns]

## Plot usage frequency

In [ ]:
plot_use_freq(df_m, LEX)

alt.Chart(...)

# Export notebooks

In [ ]:
# hide
from nbdev.export import notebook2script
notebook2script()